.footer-group {
  width: 100%;
  background-color: #202020;
  padding-top: 20px;
  padding-bottom: 50px;
}

.footer-one {
  height: 160px;
  padding-bottom: 25px;
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.footer-image-one {
  margin-left: 50px;
}

.footer-footer {
  margin-top: 65px;
  margin-bottom: 40px;
}
.hover-effect {
  text-decoration: none;
}

.hover-effect:hover {
  text-decoration: none;
  color: #3b82f6;
}
