.watch-video:hover {
  background-color: #3b82f6;
}

.youtube-video-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}

.active {
  display: block;
}
.youtube-video-embed iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.youtube-video-close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 50px;
}
.youtube-video-close:hover {
  color: #007bff;
}
